<div class="container pt-5" >

  <h1>Add a new Cocktail!</h1>

  <%= render 'form', cocktail: @cocktail %>


  <div class= "pt-4">
    <%= link_to 'Back to see all cocktails', cocktails_path %>
  </div>

</div>
